RewriteEngine On
RewriteRule ^sitemap\.xml$ sitemap.php [L]
RewriteRule ^robots\.txt$ robots.php [L]
RewriteRule ^data/ - [F,L]
RewriteRule ^blog/?$ blog.php [L]
RewriteRule ^blog/([a-z0-9-]+)/?$ blog.php?slug=$1 [L,QSA]
DirectoryIndex index.php
